// login css
.loginWrap {
  // background-image: url('../../../assets/img/signinbg.jpg');
  background-image: url('../../../assets/img/login-page--image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: rgb(0 0 0 / 40%);
  }

  // .modalLogo{
  //   filter: invert(1);
  // }
  .loginMds {
    //   max-width: 800px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    // background-color: #2b2f358f;
    //   border-radius: 8px;
    position: relative;
    overflow: hidden;
    align-items: center;
  }

  .leftImg {
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    //   img{
    //     width: 100%;
    //     height: 426px;
    //     object-fit: cover;
    //     object-position: top;
    //   }
  }

  .loginWrapInner {
    padding: 20px 0;
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: auto;

    .logBodyWrap {
      padding: 30px;
      width: 100%;
      background-color: rgb(0 0 0 / 57%);
      max-width: 500px;
      border-radius: 10px;

      @media(max-width:767.98px) {
        padding: 20px;
      }

      .form-group {
        margin-bottom: 18px;

        label {
          font-weight: 400;
          font-size: 14px;
          color: #ffffff;
          margin-bottom: 6px;

        }

        input {
          padding: 6px;
          font-size: 12px;
          height: 45px;
          background-color: transparent;
          border: 0;
          border: 1px solid #b2b2b2;
          border-radius: 5px;
          color: #fff;

          &:focus {
            box-shadow: none;
          }

          &::placeholder {
            color: #ffffff;
          }
        }

        button.eye_ic {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translate(0px, -50%);

          i {
            width: 18px;
            height: 18px;
            color: #ccc;
          }
        }
      }

      .form-check {
        margin-bottom: 18px;

        label {
          color: #ffffff;
          font-weight: 500;
        }
      }
    }
  }
}

.btnPrimaryCstm {
  background: #dd5e27;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  line-height: 1.25rem;
  margin: 0;
  padding: 0 5px;
  min-width: 100px;
  position: relative;
  transition: transform 0.2s;
  // color: #ffffff;
  font-weight: 400;
  border-radius: 5px;
  width: 100%;

  &:before {
    content: '';
    opacity: 1;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    color: transparent;
    z-index: 0;
    border-radius: 6px;
    position: absolute;
    content: attr(data-effect);
    backface-visibility: hidden;
    transition: all .2s;
  }
  span{
    color: #fff;
  }

  // &:hover {
  //   color: #ffcb2f !important;
  //   transition: all .3s;

  //   &:before {
  //     right: 0;
  //     background: #202323;
  //     -webkit-transition: all .3s;
  //     transition: all .3s;
  //     height: 100%;
  //   }
  // }

  .animate-btn {
    position: relative;
    z-index: 1;
  }
}

.hover-text-decoration-none {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.downloadApk {
  position: relative;
  font-size: 14px !important;
  overflow: hidden;

  &:focus {
    background-color: #0fa810 !important;
    color: #fff;
  }

  span.icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 100%;
    line-height: 36px;
    padding: 5px;
    background-color: #202323;
    -webkit-transition: all .6s;
    transition: all .6s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &:before {
      content: '';
      width: 27px;
      z-index: 0;
      position: absolute;
      background: #202323;
      top: 0;
      right: 18px;
      bottom: 0;
      -webkit-transform: skewX(33deg);
      transform: skewX(33deg);
      -webkit-transition: background .6s;
      transition: background .6s;
    }

    svg {
      position: relative;
      left: -2px;

      path {
        fill: #ffcb2f;
      }
    }
  }
}

.apkCont {
  font-size: 14px;
  font-weight: 500;
  padding: 0 16px;
  color: #fff;

  @media(max-width:575px) {
    font-size: 14px;
    padding: 0 4px;
  }
}
