.label.label-primary {
    background: linear-gradient(180deg, #d0541f 0%, #b84413 100%);
    line-height: 20px;
    padding: 1px 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    font-weight: 400;
    color: #ffffff !important;
}