<div class="page-title-box mb-3 mb-ms-4">
    <h4 class="page-title">Create Matches</h4>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="createMatchForm row">
                <div class="col-md-6 mb-3">
                    <label for="">SportsId</label>
                    <select class="form-control">
                        <option value="0">Select</option>
                        <option value="4">Cricket</option>
                        <option value="1">Football</option>
                        <option value="2">Tennis</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">SeriesId</label>
                    <input type="text" placeholder="Enter SeriesId" name="SeriesId" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">SeriesName</label>
                    <input type="text" placeholder="Enter SeriesName" name="SeriesName" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">EventId</label>
                    <input type="text" placeholder="Enter EventId" name="EventId" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">EventName</label>
                    <input type="text" placeholder="Enter EventName" name="EventName" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">EventTime</label>
                    <input type="text" placeholder="Enter EventTime" name="EventTime" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">MarketId</label>
                    <input type="text" placeholder="Enter MarketId" name="MarketId" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">MarketName</label>
                    <input type="text" placeholder="Enter MarketName" name="MarketName" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">RunnerId1</label>
                    <input type="text" placeholder="Enter RunnerId1" name="RunnerId1" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">RunnerId2</label>
                    <input type="text" placeholder="Enter RunnerId2" name="RunnerId2" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">RunnerName1</label>
                    <input type="text" placeholder="Enter RunnerName1" name="RunnerName1" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">RunnerName2</label>
                    <input type="text" placeholder="Enter RunnerName2" name="RunnerName2" class="form-control">
                </div>
                <div class="col-md-12 mb-4">
                    <button type="button" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>