button.acceptBtn {
    background-color: var(--primaryColor);
    border-radius: .25rem;
    padding: .175rem .55rem;
    border: 0;
    font-size: 14px;
    color: var(--blackTextColorSec);
}
.ssLink{
    color: var(--blackTextColorSec);
    text-decoration: none;
}