<div class="page-title-box mb-3 mb-ms-4">
    <h4 class="page-title">Logo Upload</h4>
</div>
<div class="row subPages">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <!-- <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                    <label>Type</label>
                    <select class="form-control">
                        <option value="Select">Select</option>
                        <option value="Desktop">Desktop</option>
                        <option value="Mobile">Mobile</option>
                    </select>
                </div> -->
                <div class="col-sm-6 mb-4 mb-sm-0">
                    <label>Choose File</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input form-control">
                    </div>
                </div>
                <div class="col-sm-4 d-flex align-items-end">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div class="uploadedImg mt-4 border-bottom pb-4 mb-4">
                <h6 class="mb-0">Logo Preview </h6>
                <img src="./assets/img/signinbgbkp.jpg" alt="img" class="img-fluid">
            </div>
            <div class="row">
                <div class="col-6 mb-4">
                    <div class="logouploaded">
                        <img src="./assets/img/signinbgbkp.jpg" alt="img" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>